header#main-header{
    background: #272727;
    height: 80px;
}

header#main-header .content-header{
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 30px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#main-header .content-header a{
    color: #FBFEFF;
    text-decoration: none;
    font-size: 22px;
}